<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio | Dwi Adnyana</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body class="bg-light">
    <!-- Navbar Start -->
    <nav class="navbar navbar-light fixed-top bg-light shadow-sm">
        <div class="container-lg">
            <a class="navbar-brand text-primary fw-bold fs-4" href="#">DWI ADNYANA</a>
            <div class="dropdown">
                <button class="btn btn-primary px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#home">Home</a></li>
                    <li><a class="dropdown-item" href="#about">About</a></li>
                    <li><a class="dropdown-item" href="#services">Services</a></li>
                    <li><a class="dropdown-item" href="#portfolio">Portfolio</a></li>
                    <li><a class="dropdown-item" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Home Start -->
    <section id="home" class="home py-5">
        <div class="container-lg">
            <div class="row min-vh-100 align-items-center align-content-center">
                <div class="col-md-6 mt-5 mt-md-0" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
                    <div class="home-img text-center">
                        <img src="./static/img/img-2.png" class="rounded-circle mw-100" alt="profil img">
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0 order-md-first" data-aos="fade-up" data-aos-delay="300"
                    data-aos-duration="3000">
                    <div class="home-text">
                        <p class="text-muted mb-1">Hello I'm</p>
                        <h1 class="text-primary text-uppercase fs-1 fw-bold">Dwi Adnyana</h1>
                        <h2 class="fs-4">Web Designer</h2>
                        <p class="mt-4 text-muted">Hello My Name is Dwi Adnyana and I am a Web Designer , I Really Like at UI / UX Design and Web Design, I Hope U Happy To see Me</p>
                        <a href="#portfolio" class="btn btn-primary px-3 mt-3">My Work</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home End -->

    <!-- About Start -->
    <section id="about" class="about bg-white py-5">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="800" data-aos-duration="3000">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">About Me
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">
                    <div class="about-text">
                        <h3 class="fs-4 mb-3">Hi I'M Dwi Adnyana</h3>
                        <p class="text-muted">Welcome to my personal portfolio, where I express my deep interests in two
                            major aspects of my life: full stack development and videography. As a technology
                            enthusiast, I have an unwavering passion for blending the digital and visual worlds. This
                            blog offers you a glimpse into my path to becoming proficient in both domains, and I extend
                            an invitation for you to come along on this exciting journey with me.</p>
                    </div>
                    <div class="row text-center text-uppercase my-3">
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">100</h4>
                                <p>Project Completed</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">90</h4>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">95</h4>
                                <p>Positive Reviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex  align-items-center">
                            <a href="#" class="btn px-3 btn-primary me-5">Download CV</a>
                            <div class="social-links">
                                <a href="#"><i class="text-dark me-2 fab fa-instagram"></i></a>
                                <a href="#"><i class="text-dark me-2 fab fa-facebook"></i></a>
                                <a href="#"><i class="text-dark me-2 fab fa-tiktok"></i></a>
                                <a href="#"><i class="text-dark me-2 fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">HTML</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">CSS</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">JAVASCRIPT</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">BOATSTRAP</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About  End -->

    <!-- Services Start -->
    <section id="services" class="services py-5">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="3000">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">What I Do</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icon text-primary fs-2 my-3">
                            <i class="fas fa-code"></i>
                        </div>
                        <h3 class="fs-5 py-2">Web Development</h3>
                        <p class="text-muted">I Have Intrest at Web Development and also Web Design</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="500" data-aos-duration="3000">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icon text-primary fs-2 my-3">
                            <i class="fas fa-lightbulb"></i>
                        </div>
                        <h3 class="fs-5 py-2">Creative Design</h3>
                        <p class="text-muted">I Really Like Design , For Me Design Like How We can Improve Our
                            Imagination</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="700" data-aos-duration="3000">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icon text-primary fs-2 my-3">
                            <i class="fas fa-video"></i>
                        </div>
                        <h3 class="fs-5 py-2">Video Editing</h3>
                        <p class="text-muted">I Have Intrest About Vidio Editing becase it's like art for Me. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->

    <!-- Portfolio Start -->
    <section id="portfolio" class="portfolio bg-white py-5">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="3000">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">Latest Works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Prototype RentCar.png" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">Prototype RentCar</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Portfolio.png" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">My Portfolio</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="700" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Online Library.jpg" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">Online Library</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="900" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Program Parkir.jpg" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">Parking Program</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Pengecekan Kalimat.jpg" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">Sentence Checking Program</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="3000">
                    <div class="portpolio-item">
                        <img src="./static/img/Sentimen Expression.jpg" class="w-100 img-thumbnail" alt="portpolio item">
                        <h3 class="text-capitalize fs-5 my-2">Sentimen Expression Program</h3>
                        <p class="mb-4"><a href="#" class="text-primary text-decoration-none">Link Demo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->

    <!-- Freelance Start -->
    <section class="freelance-available bg-primary py-5">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">
                    <p class="text-light fs-5">Do you have any project?</p>
                    <h2 class="fs-1 text-white mb-4">I'm Available For Freelance Projects</h2>
                    <a href="#contact" class="btn btn-outline-light">Hire Me</a>
                </div>
            </div>
        </div>

    </section>
    <!-- Freelance End -->

    <!-- Contact Start -->
    <section id="contact" class="contact py-5">
        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="500" data-aos-duration="3000">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">Contact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" data-aos="fade-up" data-aos-delay="700" data-aos-duration="3000">
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-primary">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Email</h3>
                            <p class="text-muted">dwiadnyanaa04@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-primary">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Phone</h3>
                            <p class="text-muted">081529808370</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-primary">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Address</h3>
                            <p class="text-muted">Tabanan, Bali</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="900" data-aos-duration="3000">
                    <div class="contact-form">
                        <form id="contactForm" method="POST">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <input type="text" name="name" id="name" placeholder="Your Name"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <input type="email" name="email" id="email" placeholder="Your Email"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <input type="text" name="subject" id="subject" placeholder="Subject"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <textarea rows="5" name="message" id="message" placeholder="Your Message"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary px-3">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact End -->

    <!-- Footer Start -->
    <footer class="footer border-top py-4">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-12">
                    <p class="m-0 text-center">2023 &copy; Dwi Adnyana</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <script>
        $.ajax({
            type: 'GET',
            url: 'say_hi',
            success: function(response){
                alert(response.msg)
            }
        })
    </script>

<script>
    $(document).ready(function () {
        $("#contactForm").submit(function (event) {
            event.preventDefault();

            var name = $("#name").val();
            var email = $("#email").val();
            var subject = $("#subject").val();
            var message = $("#message").val();

            $.ajax({
                type: "POST",
                url: "/save_message",
                data: {
                    name: name,
                    email: email,
                    subject: subject,
                    message: message
                },
                success: function (response) {
                    alert(response.msg);
                    $("#contactForm")[0].reset(); // Mengosongkan formulir setelah pengiriman
                }
            });
        });
    });
</script>

</body>

</html>